/* .details{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0,0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.details-inner{
position: relative;
padding: 32px;
width: 100%;
max-width: 640px;
background-color: #fff;
}

.details-inner .return-btn{
  position: absolute;
  top:16px;
  right: 16px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;