.container {
    

}

.details{
    width: 50%;
    float: left;
   
}
.list {
    width: 50%;
    float: left;
}
.list2{
    width: 50%;
    float: left;
    
}
.list2 Button {
    margin: 4%;

}
.list1 {
    width: 50%;
    float: left;


}